{% extends 'blog/base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
{% comment %} <div class="">
        <h2 class="text-2xl font-bold mb-4">All Posts</h2>
    <form method="get" class="flex gap-2 mb-6">
        <input type="text" name="search" value="{{ search_query |default:'' }}" placeholder="Search..."
            class="input input-bordered w-full max-w-xs" />
        <button class="btn btn-primary">Search</button>
    </form>
</div> {% endcomment %}

<div class="my-4">
    <form method="get" class="flex flex-wrap justify-center gap-2 mb-6">
    <!-- Search -->
    <input type="text" name="search" value="{{ search_query|default:'' }}" placeholder="Search..."
        class="input input-bordered w-full max-w-xs" />

    <!-- Category Filter -->
    <select name="category" class="select select-bordered">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{ category.name }}" {% if category_query == category.name %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

    <!-- Tag Filter -->
    <select name="tag" class="select select-bordered">
        <option value="">All Tags</option>
        {% for tag in tags %}
            <option value="{{ tag.name }}" {% if tag_query == tag.name %}selected{% endif %}>
                {{ tag.name }}
            </option>
        {% endfor %}
    </select>

    <button class="btn btn-primary">Filter</button>
</form>
</div>


<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for post in page_object %}
        <div class="card bg-base-100 shadow">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="text-gray-400 font-semibold italic">By- {{ user.first_name }} {{user.last_name}}</p>
                <p class="text-sm text-gray-600 mt-2">Tags: {% for tag in post.tag.all %}
                                                                    <span class="badge badge-outline badge-primary">{{ tag.name }}</span>
                                                                    {% empty %}
                                                                        No tags
                                                                    {% endfor %} </p>
                <p class="line-clamp-3">{{ post.content|safe|truncatewords:40 }}</p>
                <div class="card-actions justify-between mt-4">
                    <a href="{% url 'post_details' post.id %}" class="btn btn-sm btn-outline">Read More</a>
                    <span class="badge badge-success ">{{ post.category.name }}</span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
</div>
<div class="flex justify-center mt-6">
    <div class="join">
        {% if page_object.has_previous %}
            <a class="join-item btn" href="?page={{ page_object.previous_page_number }}">«</a>
        {% endif %}
        <button class="join-item btn btn-active">{{ page_object.number }}</button>
        {% if page_object.has_next %}
            <a class="join-item btn" href="?page={{ page_object.next_page_number }}">»</a>
        {% endif %}
    </div>
</div>
{% endblock %}